.wrapper {
  height: 439px;
  width: 640px;
  display: grid;

  grid-template-columns: 120px 55px 117px 117px 235px;
  grid-template-rows: 64px 109px 67px 50px 82px 62px;
  grid-template-areas: 
    "q q . . r"
    "q q w e r"
    "a s . . d"
    ". s . . d"
    ". . z z d"
    ". . z z .";
  background-image: url("../images/drumkit.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.q {
  grid-area: q;
}
.w {
  grid-area: w;
}
.e {
  grid-area: e;
}
.r {
  grid-area: r;
}
.a {
  grid-area: a;
}
.s {
  grid-area: s;
}
.d {
  grid-area: d;
}
.z {
  grid-area: z;
}
.x {
  grid-area: x;
}
.key {
  font-size: 1.5rem;
  transition: all .15s ease;
  text-align: center;
  color: white;
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
  background-image: url("../images/bang.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

kbd {
  font-size: 3rem;
  margin: 0;
  position: relative;
  top: 25%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sound {
  visibility: hidden;
}
